requests==2.31.0
pandas==2.2.3
cryptography==42.0.7
datetime==5.4.0
clear-cache==1.0.0
openpyxl==3.1.2
pymupdf==1.23.15
future==0.18.3
psutil==5.9.7
pdf2image==1.17.0
numpy==1.26.2
urllib3==1.26.18
charset-normalizer==2.0.0
chardet==3.0.4
google-api-python-client==2.121.0
pyxlsb==1.0.10
vertexai==1.71.1
pypdf2==3.0.1
jira==3.8.0
oauthlib==3.2.2
google-cloud-aiplatform==1.71.1
google-cloud-storage==2.5.0
pycountry==24.6.1
langdetect==1.0.9
langcodes==3.4.1
google-genai==0.3.0
google==2.0.3
pdfplumber==0.11.5
oracledb==2.5.1
uvicorn==0.34.0
fastapi==0.115.11
langchain==0.3.14
langchain-core==0.3.29
langchain-text-splitters==0.3.5
tiktoken==0.9.0
borneo==5.4.2
oci==2.141.1
more-itertools==10.7.0
python-multipart==0.0.20